
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.homepagecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url("../public/pictures/homepage.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.heroTittle{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    text-align: center;
    margin-left: 6rem;
    margin-right: 6rem;
}

.herosecondaryFont{
    font-family: 'Telma', cursive;
    color: rgb(239 216 169);
}

.navContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
}



/* need to make the image component*/
